In [1]:
import pandas as pd
from datetime import datetime
import numpy as np
import random

In [ ]:
workers = pd.DataFrame()
workers['employee_num'] = np.arange(5000)
risk = ['high', 'med', 'low']
workers['risk'] = np.random.choice(risk, size=len(workers), p=[0.5,0.2,0.3])
workers.groupby('risk').size()
worker = workers.copy()

In [ ]:
workers.groupby('risk').size()

risk
high    2521
low     1492
med      987
dtype: int64

In [ ]:
cm = {0:1,1:2,2:4,3:6,4:8}
workers['checker'] = (workers.groupby('risk').cumcount()%5).map(cm)

In [ ]:
workers

      employee_num  risk  checker
0                0   low        1
1                1   low        2
2                2  high        1
3                3   med        1
4                4   med        2
...            ...   ...      ...
4995          4995  high        8
4996          4996   low        1
4997          4997   med        2
4998          4998  high        1
4999          4999   low        2

[5000 rows x 3 columns]

In [ ]:
workers.groupby(['risk','checker']).size()

risk  checker
high  1          505
      2          504
      4          504
      6          504
      8          504
low   1          299
      2          299
      4          298
      6          298
      8          298
med   1          198
      2          198
      4          197
      6          197
      8          197
dtype: int64

In [ ]:
workers.groupby('checker').size()

checker
1    1002
2    1001
4     999
6     999
8     999
dtype: int64

Alternative solution:

In [9]:
workers = pd.DataFrame()
workers['employee_num'] = np.arange(5000)
risk = ['high', 'med', 'low']
workers['risk'] = np.random.choice(risk, size=len(workers), p=[0.5,0.2,0.3])
workers.groupby('risk').size()
worker = workers.copy()

In [10]:
workers.groupby('risk').size()

risk
high    2479
low     1528
med      993
dtype: int64

In [11]:
workers['checker'] = pd.Series()

for i in risk:
    workers.checker[workers.risk==i] = pd.qcut(workers.employee_num[workers.risk==i],5,labels=[1,2,4,6,8])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [12]:
workers

      employee_num  risk  checker
0                0   med      1.0
1                1   low      1.0
2                2   low      1.0
3                3  high      1.0
4                4   low      1.0
...            ...   ...      ...
4995          4995  high      8.0
4996          4996  high      8.0
4997          4997  high      8.0
4998          4998   low      8.0
4999          4999  high      8.0

[5000 rows x 3 columns]

In [13]:
workers.groupby(['risk','checker']).size()

risk  checker
high  1.0        496
      2.0        496
      4.0        495
      6.0        496
      8.0        496
low   1.0        306
      2.0        305
      4.0        306
      6.0        305
      8.0        306
med   1.0        199
      2.0        198
      4.0        199
      6.0        198
      8.0        199
dtype: int64

In [14]:
workers.groupby('checker').size()

checker
1.0    1001
2.0     999
4.0    1000
6.0     999
8.0    1001
dtype: int64